textarea {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 75%;
    height: 80px;
    margin: auto 10%;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(94, 94, 94, 0.84);
    box-shadow: 1px 1px 1px rgba(195, 191, 191, 0.684);
}

.top_profile {
    padding: 25px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
}

.profile_title {
    font-weight: bold;
    font-size: 30px;
    margin-top: 1%;
    text-shadow: 0.5px 0.5px 0.5px rgba(195, 191, 191, 0.684);
}

.create_button {
    display: inline-block;
    margin-top: 1%;
}

.edit_wrapper {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: rgba(195, 191, 191, 0.684);
    background-color: rgb(252, 252, 252);
    box-shadow: 1.5px 2px 2px rgba(195, 191, 191, 0.684);
    display: block;
    margin: 5% auto;
    padding: 40px 0;
    width: 70%;
}

.loading {
    font-size: large;
    text-align: center;
    padding: 30px;
    margin-top: 5%;
}

.preview_wrapper {
    display: flex;
    justify-content: space-evenly;
}

.preview {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: rgba(195, 191, 191, 0.684);
    background-color: rgb(252, 252, 252);
    box-shadow: 1.5px 2px 2px rgba(195, 191, 191, 0.684);
    padding: 5px 30px;
    padding-bottom: 15px;
    margin-bottom: 1%;
    width: 100%;
}

.edit_buttons {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-top: 20px;
    padding-left: 20px;
}

.post {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: rgba(195, 191, 191, 0.684);
    background-color: rgb(252, 252, 252);
    box-shadow: 1.5px 2px 2px rgba(195, 191, 191, 0.684);
    display: block;
    margin: 5% auto;
    padding: 40px 0;
    width: 70%;
}